@font-face {
  font-family: "Kadwa";
  src: url("../font/Kadwa/Kadwa-Regular.ttf")
}

*{
  font-family: "Kadwa";
}

/* button{
  background-color: #1E3FAD;
  border: none;
  color: white;
}

button:hover{
  cursor: pointer;
  background-color: #153399 
} */